/node_modules
/dist
/build/
/deploy/
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
/.idea
*~
*.swp
angular.js.tmproj
angular.xcodeproj
.idea
*.iml
.agignore
npm-debug.log
/tmp/
.vscode
*.log
*.stackdump